<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>

    @Styles.Render(
    "~/Content/bootstrap")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="navbar-header">

    </div>
    <div class="jumbotron col-md-offset-4">Voter's Id <input type="text" placeholder="Voter's Id'" /></div>

</div>
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/app.js"></script>
</body>
</html>

